{
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node",
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-transform-modules-commonjs", { "spec": true }]
      ]
    }
  }
}
