{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false,
				"loose": true,
				"useBuiltIns": "usage",
				"targets": {
					"browsers": [">0.25%", "ie 11", "not op_mini all"]
				}
			}
		]
	],
	"env": {
		"test": {
			"presets": [["@babel/preset-env", { "modules": false }]],
			"plugins": [["@babel/plugin-transform-modules-commonjs", { "spec": true }]]
		}
	}
}
