{
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "parser": "babel-eslint"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
